.CardItem {
  background-color: var(--clr-light);
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 50%;
  margin-top: 30px;
  margin-left: 0;
}

.ItemHeader {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.Info {
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.Button {
  width: auto;
  font-size: 8px;
  border-radius: 5px;
  order: 1;
  align-self: center;
  align-items: center;
  cursor: pointer;
}

.ItemImg {
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin-left: 33%;
}
