@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --clr-main: #0f0f0f;
  --clr-main-light: #5e5e5e;
  --clr-white: #ececec;
  --clr-gray: #e2e2e2;
  --clr-red: #c52525;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}
